{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid ">
		<h1 style="font-size:30px; text-align: center;">Wellcom to Manager Student</h1>
		<img src="{{ asset('images/MG.jpg') }}" width="100%">
		<div>
		{% endblock %}
